* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.15rem;
}

.form {
  width: 450px;
  align-items: left;
  margin: 5px auto 5px auto;
  border: 3px solid rgb(39, 46, 39);
  background-color: rgb(226, 175, 130);
  padding: 10px;
}

input {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(66, 2, 168);
  width: 40%;
  height: 30px;
  font-size: large;
  background-color: rgb(255, 255, 255);
}

.zile,
.nrTichete,
.valTichet,
.spv,
.turen,
.week,
.sarb,
.sindicat,
.deduceri {
  width: 2.5rem;
  margin-bottom: 20px;
}

.salariu {
  width: 5rem;
}
.btn {
  padding: 2px;
  font-size: medium;
  background-color: aqua;
  margin-bottom: 5%;
}

.salariuNet,
.avans,
.chenzinaII {
  font-size: 1.5rem;
}
